[package]
name = "runtimelib"
version = "0.16.1"
edition = "2021"
description = "Jupyter runtime library"
repository = "https://github.com/runtimed/runtimed"
license = "BSD-3-Clause"
readme = "./README.md"

[dependencies]
zeromq = { version = "0.4", default-features = false, features = [
    "tcp-transport",
] }
anyhow = "1.0.79"
bytes = "1.5.0"
chrono = { version = "0.4.34", default-features = false, features = [
    "std",
    "serde",
] }
data-encoding = "2.5.0"
dirs = "5.0.1"
smol = { version = "1.2", optional = true }
futures = { version = "0.3" }
jupyter-serde = { version = "0.2.1", path = "../jupyter-serde" }
rand = "0.8.5"
ring = "0.17.7"
serde = { version = "1.0.196", features = ["derive"] }
serde_json = "1.0.113"
uuid = { version = "1.7.0", features = ["serde", "v5"] }
shellexpand = "3.1.0"
glob = "0.3.1"
base64 = "0.22.0"

[features]
async-dispatcher-runtime = [
    "zeromq/async-dispatcher-runtime",
    "async-dispatcher",
    "async-std",
    "smol",
]
tokio-runtime = ["tokio", "zeromq/tokio-runtime"]

[dependencies.tokio]
version = "1.36.0"
features = ["full"]
optional = true

[dependencies.async-dispatcher]
version = "0.1"
optional = true

[dependencies.async-std]
version = "1"
features = ["attributes"]
optional = true
