name: Tests (Linux)

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install rust
        uses: dsherret/rust-toolchain-file@v1

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          cache: "pip"
      - run: pip install -r .github/requirements.txt
      - run: python -m ipykernel install --user --name=python
      - run: python -m ipykernel install --user --name=python3

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose

      - name: Run Doc Tests
        run: cargo test --doc --verbose

      - name: Build Ollama kernel
        run: cargo build -p ollama-kernel

      - name: Build Runtimelib with tokio
        run: cargo build -p runtimelib --verbose --features tokio-runtime

      - name: Run Runtimelib tests with tokio
        run: cargo test -p runtimelib --verbose --features tokio-runtime

      - name: Run Runtimelib Doc Tests with tokio
        run: cargo test -p runtimelib --doc --verbose --features tokio-runtime

      - name: Build Runtimelib with async-dispatcher-runtime
        run: cargo build -p runtimelib --verbose --features async-dispatcher-runtime

      - name: Run Runtimelib tests with async-dispatcher-runtime
        run: cargo test -p runtimelib --verbose --features async-dispatcher-runtime

      - name: Run Runtimelib tokio example
        run: cargo run -p runtimelib --example tokio-launch-kernel --features tokio-runtime

      - name: Run Runtimelib Doc Tests with async-dispatcher-runtime
        run: cargo test -p runtimelib --doc --verbose --features async-dispatcher-runtime
