name: Tests (Windows)
on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    build:
        runs-on: windows-latest
        steps:
            - uses: actions/checkout@v3

            - name: Install rust
              uses: dsherret/rust-toolchain-file@v1

            - uses: actions/setup-python@v5
              with:
                  python-version: "3.10"
                  cache: "pip"
            - run: pip install -r .github/requirements.txt
            - run: python -m ipykernel install --user --name=python
            - run: python -m ipykernel install --user --name=python3

            - name: Install Rust
              run: choco install rust

            - name: Verify Rust installation
              run: cargo --version

            - name: Build
              run: cargo build -p runtimelib --verbose --features tokio-runtime

            - name: Run tests
              run: cargo test -p runtimelib --verbose --features tokio-runtime

            - name: Run Doc Tests
              run: cargo test -p runtimelib --doc --verbose --features tokio-runtime

    hone-tests:
        runs-on: windows-latest
        needs: build

        steps:
            - uses: actions/checkout@v3

            - name: Install rust
              uses: dsherret/rust-toolchain-file@v1

            - uses: actions/setup-python@v5
              with:
                  python-version: "3.10"
                  cache: "pip"
            - run: pip install -r .github/requirements.txt
            - run: python -m ipykernel install --user --name=python
            - run: python -m ipykernel install --user --name=python3

            - name: Install Rust
              run: choco install rust

            - name: Install hone CLI
              run: |
                  $env:Path += ";$env:USERPROFILE\.cargo\bin"
                  cargo install --git https://github.com/captainsafia/hone

            - name: Verify hone installation
              run: hone --version

            - name: Build runt
              run: cargo build -p runt-cli --verbose

            - name: Add runt to PATH
              run: echo "${{ github.workspace }}\target\debug" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

            - name: Run hone tests for runt
              run: hone run crates/runt/tests-windows/
